
{%  extends "layout.html" %}

{% block title %}Profile{% endblock %}

{% block extra_head %}
{% endblock %}

{% block content %}
        <div class = 'card-profile'>
            <div class='row'>
                <div class = 'col-12'>
                    <p> Account Details </p>
                </div>
            </div>
            <div class='row'>
                <div class = 'col-12'>
                    <label> Username</label>
                </div>
            </div>
            <div class='row'>
                <div class = 'col-12'>
                    <input type='text'  style="width: 100%;" placeholder="{{username}}" disabled>
                </div>
            </div>
            <div class='row'>
                <div class = 'col-6'>
                    <label> First name</label>
                </div>
                <div class = 'col-6'>
                    <label> Last name</label>
                </div>
            </div>
            <div class='row'>
                <div class = 'col-6'>
                    <input id = 'first_name_new' type="text" style="width: 100%;" placeholder="{{first_name}}">
                </div>
                <div class = 'col-6'>
                    <input id = 'last_name_new' type="text" style="width: 100%;" placeholder="{{last_name}}">
                </div>
            </div>
            <div class='row'>
                <div class = 'col-6'>
                    <label> Marital status</label>
                </div>
                <div class = 'col-6'>
                    <label> Gender</label>
                </div>
            </div>
            <div class='row'>
                <div class = 'col-6'>
                    <select id = 'MS' style="width: 100%; height: 100%;" >
                        <option value = ""> {{material_status}} </option>
                        {% for status in material_status_list %}
                        <option value = {{status}}> {{status}} </option>
                        {% endfor %}
                    </select>
                </div>
                <div class = 'col-6'>
                    <select id = 'GENDER' style="width: 100%; height: 100%;" >
                        <option value = ""> {{Gender}} </option>
                        {% for gender in gender_list %}
                        <option value = {{gender}}> {{gender}} </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class='row'>
                <div class = 'col-6'>
                    <label> Job Title</label>
                </div>
                <div class = 'col-6'>
                    <label> Phone Number</label>
                </div>
            </div>
            <div class='row'>
                <div class = 'col-6'>
                    <input id = 'JT' type="text" style="width: 100%;" placeholder="{{Job_title}}">
                </div>
                <div class = 'col-6'>
                    <input id = 'PN' type="number" style="width: 100%;" placeholder="{{Phone_number}}">
                </div>
            </div>
            <div class='row'>
                <div class = 'col-12'>
                    <label> Address</label>
                </div>
            </div>
            <div class='row'>
                <div class = 'col-12'>
                    <input id = 'AD' type='text' style="width: 100%;" placeholder="{{Address}}">
                </div>
            </div>
            <div class='row'>
                <div class = 'col-4'>
                    <label> Country</label>
                </div>
                <div class = 'col-4'>
                    <label> Region</label>
                </div>
                <div class = 'col-4'>
                    <label> Zip/Postal Code</label>
                </div>
            </div>
            <div class='row'>
                <div class = 'col-4'>
                    <input id = 'country' type="text" style="width: 100%;" placeholder="{{Country}}">
                </div>
                <div class = 'col-4'>
                    <input id = 'Region' type="text" style="width: 100%;" placeholder="{{Region}}">
                </div>
                <div class = 'col-4'>
                    <input id = 'ZPC' type="text" style="width: 100%;" placeholder="{{ZIP_Code}}">
                </div>
            </div>
        
            <div class='row'>
                <div class = 'col-12'>
                    <label> email</label>
                </div>
            </div>
            <div class='row'>
                <div class = 'col-12'>
                    <input id = 'email' type='text' style="width: 100%;" placeholder="{{email}}">
                </div>
            </div>
            <div class='row'>
                <div class = 'col-12'>
                    <label> Change Password</label>
                </div>
            </div>
            <div class='row'>
                <div class = 'col-12'>
                    <input id = 'change_password' type='text' style="width: 100%;" placeholder="*****************">
                </div>
            </div>

            <div class='row'>
                <div class = 'col-12'>
                    <label> Comfirm new Password</label>
                </div>
            </div>
            <div class='row text-center'>

            </div>
            <div class='row'>
                <div class = 'col-12'>
                    <input id = 'confirm_change_password' type='text' style="width: 100%;" placeholder="*****************">
                </div>
            </div>

                <div class = 'col-12' style="padding-top:10px; padding-bottom: 10px">
                    <button id = "sumbit_button" type = 'submit' class="btn btn-success  w-100">Save</button>
                </div>
        </div>
    


{% endblock %}

{% block extra_scripts %}

{% load static %}  
<script src="{% static 'js/profile.js' %}" defer></script>
{% endblock %}