{%  extends "layout.html" %}

{% block title %}Account{% endblock %}

{% block extra_head %}
{% endblock %}

{% block content %}
<div class='row card-container'>
    <div class = 'col-12'>
        <div class = 'card-account-1'>
            <p class="heading " >Accounts</p>
            <div class="container justify-content-md-center">
                <form action ={% url 'add_account'%} method = 'post' enctype="multipart/form-data">
                    {%  csrf_token %}
                    <div class="row">
                        <div class="col-lg-2 col-md-6">
                            <label> Select Bank </label>
                        </div>
                        <div class="col-lg-4 col-md-6">      
                            <select name='Bank_name' style="width:100%" required>
                                <option value=''>--Select Bank Account--</option>
                                {%for Bank in Banks %}
                                    <option value = "{{Bank.Bank}}">{{Bank.Bank}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-lg-2 col-md-6">
                            <label> Enter Account Type </label>
                        </div>
                        <div class="col-lg-4 col-md-6" >
                            <select id = 'account_type' name='account_type' style="width:100%" required>
                                <option value=''>--Credit/Chequing/Saving-</option>
                                {%for account in accounts %}
                                    <option value = "{{account}}">{{account}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-2 col-md-6">
                            <label>Account Name</label>
                        </div>    
                        <div class="col-lg-4 col-md-6">
                            <input type-'text' name = 'account_name' style="width:100%" required>
                        </div>
                        <div id = 'account_number_l'  class="col-2" >
                            <label>Account Number</label>
                        </div>    
                        <div id = 'account_number' class="col-4" >
                            <input type='number' name = 'account_number' style="width:100%" >
                        </div>
                    </div>
                    <div class="row" id = 'account_balance_date' style="padding-top: 5px">
                        <div class="col-lg-2 col-md-6">
                            <label>Account Starting Balance</label>
                        </div>    
                        <div class="col-lg-4 col-md-6">
                            <input type='number' name = 'account_balance' style="width:100%">
                        </div>
                        <div class="col-lg-2 col-md-6">
                            <label>Date Starting Balance</label>
                        </div>    
                        <div class="col-lg-4 col-md-6">
                            <input type='date' name = 'account_balance_date' style="width:100%">
                        </div>
                    </div>
                    <div class="row justify-content-md-center" style="padding-top: 10px">
                        <div class = "col-2 justify-content-md-center">
                            <button type = 'submit' class="btn btn-success" > Insert Account</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class='row card-container'>
    <div class = 'col-12'>
        <div class = 'card-account-2'>
            <div class="d-flex align-items-center"> <p class="heading mb-0 me-2">My Accounts</h1><i class="fa-solid fa-trash" id = 'deleteallaccounts'></i></div>
                <div id="myGridaccounts" style="height: 730px"></div>
        </div>
    </div>
</div>

                
{% endblock %}

{% block extra_scripts %}
{% load static %}
<script src="{% static 'js/accounts.js' %}" defer></script>
{% endblock %}