
{%  extends "layout.html" %}

{% block title %}Annual Actual View{% endblock %}

{% block extra_head %}
{% endblock %}

{% block content %}
<span class="loader"></span>
<div class='row card-container'>
    <div class = 'col-12'>
        <div class = 'card-tv-1'>
            <p class="heading " >Annual Actual View </p>

            <div class="container justify-content-md-center">
                <form action = {% url 'annual_actual_view'%} method = 'post'>
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-2">
                            <label> Year</label>
                        </div>
                        <div class="col-2">
                            <select name = 'year' style="width: 100%;">
                                <option value = ''>--select year--</option>
                                {% for year in years%}
                                    <option value="{{ year }}" {% if year == selected_year %}selected{% endif %}>{{ year }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-2">
                            <button type='submit' class="btn btn-success btn-sm" style="width: 100%;" > Get <i class="fa-solid fa-magnifying-glass"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class='row card-container'>
    <div class = 'col-12'>
        <div class = 'card-av-1'>
            <div>
                <div id="myGridannualviewactual" style="height: 500px; width: 100%;"></div>
            </div>
        </div>
    </div>
</div>
<div class='row card-container'>
    <div class = 'col-12'>
        <div class = 'card-av-all'>
            <div id="chartContainer" style="height: 370px; width: 100%;"></div>
        </div>
    </div>
</div>
<div class='row card-container'>
    <div class = 'col-12'>
        <div class = 'card-av-all'>
            <div id="chartContainerSaving" style="height: 370px; width: 100%;"></div>
        </div>
    </div>
</div>
<div class='row card-container'>
    <div class = 'col-12'>
        <div class = 'card-av-all'>
            <div id="chartContainerBalance" style="height: 370px; width: 100%;"></div>
        </div>
    </div>
</div>

{% endblock %}

{% block extra_scripts %}

{% load static %}  
<script src="{% static 'js/annual_actual.js' %}" defer></script>
<script src="https://cdn.canvasjs.com/canvasjs.min.js"></script>
{% endblock %}