
{%  extends "layout.html" %}

{% block title %}Dashboard{% endblock %}

{% block extra_head %}
{% endblock %}

{% block content %}

<span class="loader"></span>
<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-4">
            <h1 class="heading" >{{month}} Overview </h1>
        </div>
        <div class="col-lg-4 col-md-4">
            <h1 class="heading" > Hello {{user_name}} </h1>
        </div>
        <div class="col-lg-4 col-md-4">
            <h1 class="heading" > {{displayDate}}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-6 col-xs-12 card-container mb-3">
            <div class='card'>
                <label>Total Spent</label>
                <div class='amount' id='total-spent'> </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-xs-12 card-container mb-3">
            <div class='card'>
                <label>Current Accounts Balance</label>
                <div class='amount' id='current-balance'>  </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-xs-12 card-container mb-3">
            <div class='card'>
                <label>Total Fixed Fees Remaining</label>
                <div class='amount' id='fixed-fees-remaining'> </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-xs-12 card-container mb-3">
            <div class='card'>
                <label>Over All budget Status</label>
                <div class='amount' id='budget-status'></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-md-12 card-container mb-3">
            <div class='card chart'>
                <div id="chartContainer" style="height: 370px; width: 100%;"></div>
            </div>
        </div>
        <div class="col-lg-4 col-md-12 card-container mb-3">
            <div class='card chart'>
                <div id="chartContainerPie" style="height: 370px; width: 100%;"></div>
            </div>
        </div>    
    </div>
    <div class="row">
        <div class="col-lg-7 col-md-12 card-container mb-3">
            <div class='card chart'>
                <div id="myGrid" style="height: 500px"></div>
            </div>
        </div>
        <div class="col-lg-5 col-md-12 card-container mb-3">
            <div class='card chart' style="height: 540px; overflow-y: auto;">
                <div id="chartContainerBar" style="height: 500px; width: 100%;"></div>
            </div>
        </div>    
    </div>
        
</div>

{% endblock %}

{% block extra_scripts %}

{% load static %}  
<script src="{% static 'js/dashboard.js' %}" defer></script>
<script src="https://cdn.canvasjs.com/canvasjs.min.js"></script>
{% endblock %}