
{%  extends "layout.html" %}

{% block title %}Saving Goals{% endblock %}

{% block extra_head %}
{% endblock %}

{% block content %}

{% comment %} <span class="loader"></span> {% endcomment %}
    <div class='card-saving '>
        <div class="row">
            <div class="col-4">
                <h1 class="heading" >Saving Goals: {{Goal_name}}</h1>
            </div>
            <div class="col-8">
                <form action={% url 'Saving_goal'%} method="post" enctype="multipart/form-data"  >
                    {% csrf_token %}
                    <select name = 'Saving_goal'style="width: 100%;" onchange="this.form.submit()">
                        <option value =''> Select Saving Goal </option>
                        {%for saving in savings%}
                            <option value ={{saving.id}}> {{saving.Goal_name}}</option>
                            {% endfor %}
                    </select>
                </form>
            </div>

        </div>
    </div>
    
    <div class="row">
        <div class="col-4">
            <div class='card-saving '>
                <label>Today</label>
                <div class='amount'>{{today_date}}</div>
            </div>
        </div>
            
            <div class="col-4">
                <div class='card-saving '>
                    <label>Saving Due Date</label>
                    <div class='amount'>{{duedate}}</div>
                </div>
            </div>
            <div class="col-4">
                <div class='card-saving '>
                    <label>Status</label>
                    <div class='amount'>{{status}}</div>                    
                </div>
            </div>
    </div>
    <div class="row">
        <div class="col-4">
            <div class='card-saving'>
               <div class="col-12">
                    <label>Target</label>
                    <div class='amount'>{{target}}</div>  
               </div> 
            </div>
            <div class='card-saving '>
               <div class="col-12">
                    <label>Current Balance</label>
                    <div class='amount'>{{current_balance}}</div>  
               </div> 
            </div>
            <div class='card-saving '>
               <div class="col-12">
                    <label>Remaining</label>
                    <div class='amount'>{{remaining}}</div>  
               </div> 
            </div>
        </div>       
        <div class="col-8">
            <div class='card-saving-3 '>
                <div id="chartContainer" style="height: 320px; width: 100%;"></div>
            </div>
        </div>       
    </div>
       

{% endblock %}

{% block extra_scripts %}

{% load static %}  
<script src="{% static 'js/savingGoal_view.js' %}" defer></script>
<script src="https://cdn.canvasjs.com/canvasjs.min.js"></script>
{% endblock %}