{%  extends "layout.html" %}

{% block title %}Contact{% endblock %}

{% block extra_head %}
{% endblock %}

{% block content %}
<h1>About Me</h1>

<p>My name is <strong>Mahmoud Hammad</strong>. I am an <strong>Electrical Engineer</strong> passionate about finance and budgeting.</p>

<p>This App was built to help people manage finances simply and effectively. It is provided completely free.</p>

<h2>Contact</h2>
<p><strong>Email:</strong> mahmoud.maged92@hotmail.com</p>

{% endblock %}


{% block extra_scripts %}

{% load static %}  

{% endblock %}