<!DOCTYPE html>
{% load static %}

<html lang="en">
    <head>
        
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}MoneyNut{% endblock %} </title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://kit.fontawesome.com/051f2923ab.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/ag-grid-community/dist/ag-grid-community.min.js"></script>        
        
        
        {% block extra_head %}
        
        {% endblock %}

    </head>
  <body>
    {% if user.is_authenticated %}
      <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasExampleLabel">MoneyNut</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
              <ul>
                  <li>
                    <a class="btn btn-toggle align-items-center rounded collapsed" href={% url 'dashboard_view' %} >DashBoard</a>
                  </li>
                  <li>
                    <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#Reports-collapse" aria-expanded="true">
                      Reports
                      <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="collapse show" id="Reports-collapse">
                      <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a href="{%url 'monthly_view'%}" >Monthly</a></li>
                        <li><a href="{%url 'annual_actual_view'%}" >Annually</a></li>
                        <li><a href="{%url 'annual_target_view'%}" >Annual Target</a></li>
                        <li><a href="{%url 'Saving_goal'%}" >Saving Goal View</a></li>
                        <li><a href="{%url 'accounts_view'%}" >Accounts</a></li>
                      </ul>
                    </div>
                  </li>
                  <li>
                    <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#saving-collapse" aria-expanded="true">
                      Saving/Income
                      <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="collapse show" id="saving-collapse">
                      <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a href="{%url 'saving_monthly_target'%}" >Set Saving Target </a></li>
                        <li><a href="{%url 'goal_view'%}" >Set Saving Goal </a></li>
                        <li><a href="{%url 'income_view'%}" >Add expected income</a></li>
                      </ul>
                    </div>
                  </li>
                  <li>
                    <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#Settings-collapse" aria-expanded="true">
                      Settings
                      <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="collapse show" id="Settings-collapse">
                      <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a href="{%url 'add_account'%}" >Add Account</a></li>
                        <li><a href="{%url 'category_add'%}" >Add Category</a></li>
                        <li><a href="{%url 'add_bank'%}" >Add Bank</a></li>
                        <li><a href="{%url 'keyword'%}" >Set Keywords</a></li>
                        <li><a href="{%url 'target_insert'%}" >Set Buget target</a></li>
                        <li><a href="{%url 'family_invite'%}" >Invite Family</a></li>
                        <li><a href="{%url 'add_family'%}" >Add Family with Token</a></li>
                        
                      </ul>
                    </div>
                  </li>
                  <li>
                    <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#transactions-collapse" aria-expanded="true">
                      Transactions
                      <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="collapse show" id="transactions-collapse">
                      <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a href="{%url 'trans_page'%}" >Enter Transactions</a></li>
                        <li><a href="{%url 'trans_view'%}" >View Transactions</a></li>
                      </ul>
                    </div>
                  </li>
                  {% if isfamily %}
                  <li>       
                    <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#family-collapse" aria-expanded="true">
                      Family
                      <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="collapse show" id="family-collapse">
                      <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">

                        <li><a href="{% url 'family_dashboard_view' %}" >Family DashBoard</a></li>
                        <li><a href="{%url 'monthly_view_family'%}" >Family Monthly View</a></li>
                        <li><a href="{%url 'annual_actual_view_family'%}" >Family Annually View</a></li>
                        <li><a href="{%url 'annual_target_view_family'%}" >Family Annual Target View</a></li>
                        <li><a href="{%url 'Saving_goal_family'%}" >Family Saving Goal View</a></li>
                        <li><a href="{%url 'trans_view_family'%}" >Family Transactions View</a></li>
                        <li><a href="{%url 'view_family_members'%}" >View Family Members</a></li>
                      </ul>
                    </div>
                  </li>
                  {%endif%}
                  
        </div>
      </div>
      {%endif%}
      <div class="container-fluid m-0">
        <nav class="navbar navbar-expand-lg bg-light">
          <div class="container-fluid">
            
            {% if user.is_authenticated %}
            <a class="btn " data-bs-toggle="offcanvas" href="#offcanvasExample" aria-controls="offcanvasExample">
              <span class="fa fa-bars"></span>
            </div>
            {%endif%}
          

          <ul class="navbar-nav d-flex flex-row align-items-center">
            
            <li class="nav-item ">
              
              {% if user.is_authenticated %}
                <a class="nav-link p-0 me-2 me-lg-3" href={% url 'dashboard_view' %}>
              {% else %}
                <a class="nav-link p-0 me-2 me-lg-3" href="/">
              {%endif%}
              <img
                  src="/media/logo-nb.png"
                  height="40"
                  alt="Logo"
                  loading="lazy"
                  style="d-inline-block align-top"
              /></a>
              </li>
              {% if not user.is_authenticated %}
              <li class="nav-item">
                  <a class="nav-link text-success text-nowrap px-2 px-lg-3" href="{% url 'about' %}">About</a>
              </li>
              {%endif%}
          </ul>
          <!-- Left links -->
            <!-- Left links -->

            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
              {% if user.is_authenticated %}
                <form action="{% url 'logout' %}" method="post" style="display:inline;">
                {% csrf_token %}
                  <div class="btn-group dropstart">
                    <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                      <i class="fa-regular fa-user"></i>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right">
                      <li><a class="dropdown-item" href="{% url 'profile_view' %}">Profile</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><button type="submit" data-mdb-ripple-init type="button" class="btn btn-link px-3 me-2 text-success">Logout</button></li>
                    </ul>
                  </div>
                </form>
                {% else %}
                  <a href="/register" data-mdb-ripple-init type="button" class="btn btn-primary w-100 w-md-auto">Sign up for free</a>
                {%endif%}
              </div>
          
          </div>
        </nav>
      </div>









        {% comment %} <div class="sidenav">

          <li class="mb-1"> 
            <a href={% url 'dashboard_view' %}  class="btn btn-toggle align-items-center rounded collapsed">DashBoard</a>
          </li>
          <li class="mb-1">       
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#Reports-collapse" aria-expanded="true">
              Reports
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="collapse show" id="Reports-collapse">
              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                <li><a href="{%url 'monthly_view'%}" >Monthly</a></li>
                <li><a href="{%url 'annual_actual_view'%}" >Annually</a></li>
                <li><a href="{%url 'annual_target_view'%}" >Annual Target</a></li>
                <li><a href="{%url 'Saving_goal'%}" >Saving Goal View</a></li>
                <li><a href="{%url 'accounts_view'%}" >Accounts</a></li>
              </ul>
            </div>
          </li>
          <li class="mb-1">       
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#saving-collapse" aria-expanded="true">
              Saving/Income
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="collapse show" id="saving-collapse">
              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                <li><a href="{%url 'saving_monthly_target'%}" >Set Saving Target </a></li>
                <li><a href="{%url 'goal_view'%}" >Set Saving Goal </a></li>
                <li><a href="{%url 'income_view'%}" >Add expected income</a></li>
              </ul>
            </div>
          </li>
          <li class="mb-1">       
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#Settings-collapse" aria-expanded="true">
              Settings
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="collapse show" id="Settings-collapse">
              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                <li><a href="{%url 'add_account'%}" >Add Account</a></li>
                <li><a href="{%url 'category_add'%}" >Add Category</a></li>
                <li><a href="{%url 'add_bank'%}" >Add Bank</a></li>
                <li><a href="{%url 'keyword'%}" >Set Keywords</a></li>
                <li><a href="{%url 'target_insert'%}" >Set Buget target</a></li>
                <li><a href="{%url 'family_invite'%}" >Invite Family</a></li>
                <li><a href="{%url 'add_family'%}" >Add Family with Token</a></li>
                
              </ul>
            </div>
          </li>
          <li class="mb-1">       
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#transactions-collapse" aria-expanded="true">
              Transactions
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="collapse show" id="transactions-collapse">
              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                <li><a href="{%url 'trans_page'%}" >Enter Transactions</a></li>
                <li><a href="{%url 'trans_view'%}" >View Transactions</a></li>
              </ul>
            </div>
          </li>
          {% if isfamily %}
          <li class="mb-1">       
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#family-collapse" aria-expanded="true">
              Family
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="collapse show" id="family-collapse">
              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">

                <li><a href="{% url 'family_dashboard_view' %}" >Family DashBoard</a></li>
                <li><a href="{%url 'monthly_view_family'%}" >Family Monthly View</a></li>
                <li><a href="{%url 'annual_actual_view_family'%}" >Family Annually View</a></li>
                <li><a href="{%url 'annual_target_view_family'%}" >Family Annual Target View</a></li>
                <li><a href="{%url 'Saving_goal_family'%}" >Family Saving Goal View</a></li>
                <li><a href="{%url 'trans_view_family'%}" >Family Transactions View</a></li>
                <li><a href="{%url 'view_family_members'%}" >View Family Members</a></li>
              </ul>
            </div>
          </li>
          {%endif%}
          <div id="line-content">
            <hr id="line">
          </div>
        </div> {% endcomment %}
    <div>
      {% block content %}

      {% endblock %}
    </div>
      {% block extra_scripts %}
        
      {% endblock %}
    </body>
</html>
