{%  extends "layout.html" %}

{% block title %}transaction View{% endblock %}

{% block extra_head %}
{% endblock %}

{% block content %}
<div class = 'card-reset-password-page'>
    <div class='row'>
        <div class = 'col-12'>
            <h>Password Reset Sent </h>      
        </div>
    <div class='row'>
        <div class = 'col-12'>
            <p> We havwe emailed you instructions for settings your Password, if an account exists with email you entered. You should receive it shortly</p>
        </div>
    </div>
</div>

    




{% endblock %}

{% block extra_scripts %}

{% load static %}  

{% endblock %}